.illustrationShow-container {
  background-size: cover;
  background-position: left;
  transition: all 0.3s;
  margin: 0.5rem;
  border-radius: 5px;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
  .indicators-container {
    height: 100%;
    .indicate {
      cursor: pointer;
      position: absolute;
      background: #162018b0;
      border-radius: 100%;
      border: 1px solid transparent;
      animation: flash 0.4s infinite ease-in-out;
      transform-origin: center center;
      font-size: var(--fs-medium);
      color: var(--text-danger);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
    }

    .indicate-1 {
      width: 45px;
      height: 45px;
      right: 10px;
      bottom: 20px;
    }
    .indicate-2 {
      width: 25px;
      height: 25px;
      right: 85px;
      top: 15px;
    }
    .indicate-3 {
      width: 35px;
      height: 35px;
      bottom: 32px;
      left: 33px;
    }
    .indicator-expand {
      animation-play-state: paused;
      z-index: 2;
      border-radius: 5px;
      width: 70%;
      height: 70%;
      transition: all 0.3s;
      display: block;
      background: var(--bg-primary);
    }
  }
  .tooltip {
    padding: 0.5rem;
    .tooltip-header {
      text-align: center;
      .tooltip-image {
        width: 100%;
        display: none;
        height: 100%;
        border-radius: 5px;
        position: absolute;
        z-index: -1;
        left: 110%;
        top: 10%;
        filter: brightness(0.5);
      }
      &:hover .tooltip-image {
        display: block !important;
      }
      // &::after,
      // &::before {
      //   content: "";
      //   position: absolute;
      //   background: transparent;
      //   width: 119px;
      //   height: 100px;
      // }
      // &::after {
      //   right: -49px;
      //   top: 62px;
      //   transform: rotate(61deg);
      // }
      // &::before {
      //   top: 0px;
      //   right: -100px;
      //   border-bottom: 2px solid;
      //   transform: rotate(60deg);
      //   border-bottom-right-radius: 21px;
      // }
    }
    .tooltip-info {
      .tooltip-link {
        font-size: var(--fs-small);
        color: #03a9f4;
        &:hover .tooltip-image {
          display: block;
        }
      }

      .tooltip-description {
        font-size: var(--fs-small);
        color: var(--text-secondary);
        height: 50px;
        overflow: auto;
        margin: 0.4rem 0 0 0;
        &::-webkit-scrollbar {
          width: 3px;
        }
      }
      // &:hover .tooltip-image{
      //   display: block !important;
      // }
    }
  }
  .triangle {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.triangle-0 {
    width: 60px;
    height: 60px;
    border-bottom: solid 0px rgb(22 32 24);
    border-left: solid 60px rgb(55 74 59 / 70%);
    border-top: solid 40px transparent;
    border-bottom-left-radius: 100px !important;
}
}

@keyframes flash {
  100% {
    border-color: var(--text-primary);
  }
}
