.cursor-cross{
    span {
    position: absolute;
    background-color: var(--text-danger);
    /* top: 120px; */
    z-index: 1;
  }
  span.Y-axis {
    height: 100px;
    width: 1px;
  }
  span.X-axis {
    width: 100px;
    height: 1px;
  }
}