.expandableContainer .gallery {
  width: min(100% - 15px, 900px);
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.expandableContainer .gallery .card {
  position: relative;
  height: 400px;
  flex: 1;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  filter: grayscale(80%);
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.expandableContainer .gallery .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.expandableContainer .gallery .card .info {
  width: 500px;
  position: absolute;
  z-index: 3;
  padding: 15px;
  bottom: 0;
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  box-shadow: inset 0 -120px 120px -120px black,
    inset 0 -120px 120px -120px black;
}
.expandableContainer .gallery .card:hover {
  flex: 5;
  filter: none;
}
.expandableContainer .gallery .card:hover .info {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .expandableContainer .gallery {
    wdith: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .expandableContainer .gallery .card {
    height: 200px;
  }
  .expandableContainer .gallery .card .info {
    width: 100%;
    padding: 10px;
  }
  .expandableContainer .gallery .card:nth-child(3n + 3) {
    grid-column: 1/3;
  }
}
