.dark-theme {
  // BACKGROUNDS
  --bg-primary: #162018;
  --bg-secondary: #0d120e;
  --bg-tertiary: #344a1b;

  // COLORS
  --text-primary: #595959;
  --text-secondary: #ffffffb0;

  // FONT-SIZES
  --fs-small: 12px;
}
