.topKPIs__section {
  color: #fff;
  padding: 0.3rem 1rem;
  background: var(--bg-primary);
  margin: .6rem;
  position: relative;
  .topKPIs__layout {
    width: 100%;
    display: flex;
    gap: 5px;
    margin-top: 0.7rem;
    overflow-x: auto;
    .topKPIs__layout--grow {
    flex-grow: 1;
    min-width: 500px;
    }
    > div {
    background-color: var(--bg-secondary);
    min-height: 150px;
    max-width: 250px;
    flex-shrink: 0;
    flex-basis: 250px;
    padding: .5rem;
        display: flex;
    flex-direction: column;
    h4{
          color: var(--text-primary);
    font-size: var(--fs-small);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: .4rem
    }
    }
    span.topKPI__current{
          font-weight: bold;
    font-size: var(--fs-medium);
    color: var(--text-secondary);
    }
    span.topKPI__change{
          display: flex;
    align-items: center;
        font-weight: bold;
    color: var(--text-danger);
    }
    div.topKPI__change--chart{
      flex-grow: 1;
    background: #162018;
    margin-top: .5rem;
    }
    span.topKPI__timestamp{
          color: var(--text-primary);
    font-weight: bold;
    }
  }
}
