.topKPIs__section {
  color: #fff;
  padding: 0.3rem 1rem;
  background: var(--bg-primary);
  margin: .6rem;
  position: relative;
  .topKPIs__layout {
    width: 100%;
    display: flex;
    gap: 5px;
    margin-top: 0.7rem;
    overflow-x: auto;
    .topKPIs__layout--grow {
    flex-grow: 1;
    min-width: 500px;
    }
    > div {
    background-color: var(--bg-secondary);
    min-height: 150px;
    max-width: 250px;
    flex-shrink: 0;
    flex-basis: 250px;
    }
  }
}
