main {
  position: relative; // Required for cursor-cross
  .main-sub-section{
        color: #fff;
    padding: 0.3rem 1rem;
    background: var(--bg-primary);
    margin: 0.6rem;
    position: relative;
    height: 220px;
    .main-sub-section-flex{
          border-top: 0.5rem solid var(--bg-secondary);
    background-color: var(--bg-primary);
    width: 100%;
    height: 100%;
    // max-height: 185px;
    display: flex;
    margin-top: 0.7rem;
    overflow-x: auto;
    position: absolute;
    left: 0;
    }
  }
}
