.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: start;
  gap: 1rem;
  padding-left: 1rem;
  background-color: #162018;
  border-bottom: 1px solid #303030;
  li {
    list-style: none;
    height: 100%;
    line-height: 250%;
    a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    transition: color .2s;
    height: 100%;
    }
   
  }
}
