.calendar-backdrop {
  backdrop-filter: blur(1px) grayscale(1) brightness(0.7);
}

.bg-card {
  background-color: #171717;
}
.bg-sidebar-card-top {
  background-color: #353535;
}
.sidebar-separator-top {
  border-bottom: 1px solid #2e2e2e;
}
.sidebar-separator-bottom {
  border-top: 1px solid #2e2e2e;
}
.text-premium-yellow {
  color: #f7b91c;
}
.icon-background {
  background: #2d2d2d;
}

.tooltip-head {
  background: #1d1d1d;
}
.tooltip-body {
  background: #252525;
}

.search-icon {
  top: 50%;
  transform: translate(0, -50%);
}

.card-stack-border {
  border-bottom: 2px solid #696969;
}
.bg-details {
  background-color: #1e1e1e;
}

.add-component-head {
  background-color: #181818;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
}

.sidebar-item-selected {
  color: rgb(255, 255, 255) !important;
  border-right: 5px solid rgb(255, 255, 255) !important;
}
.sidebar-item {
  border-right: 2px solid transparent;
}
/* .sidebar-item:hover { */
/* color: #a1a0a0; */
/* } */

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
.fill-white {
  fill: white;
}

.repo-size {
  transition: opacity 0.2s;
  opacity: 0;
}

.show-repo-size:hover .repo-size {
  transition: opacity 0.2s;
  opacity: 1;
}

.hint::before {
  transform: rotate3d(1, 1, 1, 45deg);
}

.bg-1 {
  /* background-image: url("https://wallpapers.com/images/hd/pink-powder-explosion-iphone-dark-n4676qfcf97c39tj.jpg"); */
  background: radial-gradient(
    circle at 94.1% 98.8%,
    rgb(32, 32, 32) 0%,
    rgb(0, 0, 0) 99.4%
  );
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#terminal {
  width: 90vw;
  max-width: 900px;
  height: 550px;
  transition: 0.2s;
}
#window {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: default;
}
.btn {
  margin-right: 10px;
  border: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  box-shadow: 0 2px 2px #33333375;
}
.red {
  background-color: #ff4136;
}
.error {
  color: #ff4136;
}
.yellow {
  background-color: #ffdc00;
}
.info {
  color: #ffdc00;
}
.green {
  background-color: #2ecc40;
}
#title,
#field {
  font-size: 0.85rem;
}
#title {
  margin-left: auto;
}
#field {
  height: calc(100% - 40px);
  padding: 5px;
  overflow: auto;
  /* 	I'd like to get white-space: break-spaces to work
		but it won't for some reason. In the meantime,
		overflow-wrap: break-word will have to do. */
  overflow-wrap: break-word;
}
#field::-webkit-scrollbar {
  width: 10px;
}
#field.dark::-webkit-scrollbar-thumb {
  background-color: #333444;
}
#field.light::-webkit-scrollbar-thumb {
  background-color: #aca9bb;
}
#field > div {
  min-height: 20px;
  width: 100%;
  cursor: default;
}
#input-container {
  display: flex;
}
#query,
#cursor {
  display: inline-block;
}
#query {
  margin-right: 10px;
  white-space: pre-line;
}
#cursor {
  position: relative;
  bottom: -2px;
  left: 2px;
  width: 0.5rem;
  height: 3px;
}
@keyframes blink-dark {
  0%,
  100% {
    background-color: #f4f4f4;
  }
  50% {
    background-color: transparent;
  }
}
@keyframes blink-light {
  0%,
  100% {
    background-color: #474554;
  }
  50% {
    background-color: transparent;
  }
}
@media only screen and (max-width: 600px), (max-height: 600px) {
  #terminal {
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
  }
  #field {
    height: 100%;
  }
  #window {
    display: none;
  }
}
