.calendar-backdrop {
  backdrop-filter: blur(1px) grayscale(1) brightness(0.7);
}

.bg-card {
  background-color: #171717;
}
.bg-sidebar-card-top {
  background-color: #353535;
}
.sidebar-separator-top {
  border-bottom: 1px solid #2e2e2e;
}
.sidebar-separator-bottom {
  border-top: 1px solid #2e2e2e;
}
.text-premium-yellow {
  color: #f7b91c;
}
.icon-background {
  background: #2d2d2d;
}

.tooltip-head {
  background: #1d1d1d;
}
.tooltip-body {
  background: #252525;
}

.search-icon {
  top: 50%;
  transform: translate(0, -50%);
}

.card-stack-border {
  border-bottom: 2px solid #696969;
}
.bg-details {
  background-color: #1e1e1e;
}

.add-component-head {
  background-color: #181818;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
}

.sidebar-item-selected {
  color: white;
  border-right: 2px solid white;
}
.sidebar-item {
  border-right: 2px solid transparent;
}
.sidebar-item:hover {
  color: #a1a0a0;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
.fill-white {
  fill: white;
}

.repo-size {
  transition: opacity 0.2s;
  opacity: 0;
}

.show-repo-size:hover .repo-size {
  transition: opacity 0.2s;
  opacity: 1;
}
/* 
.pagination_selected_item:focus{
  color: red !important
} */

.hint::before {
  transform: rotate3d(1, 1, 1, 45deg);
}
