.sensorGridContainer{
        display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    span{
    background-color: #4caf50;
    max-width: 15px;
    max-height: 15px;
    width: 3vw;
    height: 3vw;
    border-radius: 2px;
    }
}